@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@700&display=swap");
/* General */
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --dark-color-logo: #ac9b7f;
  --primary: #1f1f1f;
  --secondary: #292d3e;
  --tertiary: rgba(86, 88, 109, 0.9);
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  background-color: var(--primary);
}

.inactive {
  display: none;
}

/* Estiliza la barra de desplazamiento completa */
::-webkit-scrollbar {
  width: 12px; /* o el ancho que prefieras */
}

/* Estiliza la pista (el espacio detrás de la barra de desplazamiento) */
::-webkit-scrollbar-track {
  background: #252525; /* o el color de fondo que prefieras */
  border-radius: 20px;
}

/* Estiliza el botón de desplazamiento (la barra de desplazamiento en sí) */
::-webkit-scrollbar-thumb {
  background: #888; /* o el color que prefieras */
  border-radius: 10px;
}

/* Estiliza el botón de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* o el color que prefieras al pasar el mouse */
}

/* NAvbar (general) */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.menu {
  display: none;
  margin-left: 24px;
}

img.close-icon {
  width: 28px;
  margin-left: 24px;
  /* display: none; */
}

.logo {
  width: 50px;
  padding-right: 0px;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}

.navbar-left a {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Asegúrate de definir un alto */
  width: 100%; /* Y un ancho para el elemento <a>, si es necesario */
}

.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--secondary);
  padding: 18px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}
.navbar-email {
  color: var(--very-light-pink);
  cursor: pointer;
  font-size: var(--sm);
  margin-right: 44px;
}
/* SUGERENCIA DE CODIGO, PARA QUE EL TEXTO CAMBIE DE COLOR */
.navbar-email:hover {
  color: var(--hospital-green);
}

.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del subMenu de usuario (Desktop) */
.desktop-menu {
  position: absolute;
  top: 60px;
  right: 60px;
  background: var(--text-input-field);
  opacity: 0.8;
  width: 250px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  /* display: flex; */
  flex-direction: column;
}

.desktop-menu:hover {
  opacity: 1;
}

.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email-container a {
  text-decoration: none;
  color: #000000;
  font-style: italic;
  font-size: large;
}

.email-container :hover {
  text-decoration: underline;
}

.icon-button {
  display: flex;
  align-items: center;
}
.icon-button:hover {
  cursor: pointer;
}
.icon-button img {
  width: 40px;
}

/* .desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
} */

/* Menu en mobile */
.mobile-menu {
  background-color: var(--dark-color-logo);
  position: fixed;
  top: 50px;
  height: calc(100vh - 68px);
  /* padding: 20px; */
  left: 0;
  width: 100%;
  transform: translateX(-100%); /* Lo mueve fuera de la pantalla a la izquierda */
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 12;
}

/* Clase para cuando el menú está activo */
.mobile-menu.active {
  transform: translateX(0); /* Lo regresa a su posición original */
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: var(--lg);
  /* margin-bottom: 24px; */
}

.navigation-items {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra el contenido horizontalmente */
  height: 100%;
  /* padding-left: 25%; */
}

.menu-item {
  width: 100%; /* Ocupa el ancho completo de navigation-items */
  display: flex;
  justify-content: center; /* Alinea el contenido al inicio (izquierda) */
  align-items: center; /* Centra verticalmente el texto con respecto al ícono */
  padding: 10px; /* Ajuste según necesites */
}

.menu-item.email-row {
  justify-content: space-between;
}

.menu-item.email-row span {
  margin-left: 40px;
}

.mobile-menu .icon {
  width: 25px; /* Controla el tamaño del ícono */
  height: 25px;
  margin-right: 9px; /* Espacio entre el ícono y el texto */
}

.mobile-menu a {
  align-items: center;
  text-decoration: none;
  color: var(
    --black
  ); /* Asegúrate de tener esta variable definida o usa un color directo */
  font-weight: bold;
  width: 100%; /* Asegura que el enlace ocupe todo el ancho para un mejor área de clic */
}

.static-info {
  text-align: center; /* Centra el texto si solo es texto */
  padding: 12px 24px; /* Ajusta según necesites */
  /* background-color: red; */
  border-top: 1px solid;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.static-info .menu-item {
  padding: 0;
}

.menu-item a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 9px;
  width: 100%; /* Ocupa el ancho completo del contenedor padre */
}

.title-contact {
  font-size: x-large;
  font-weight: bolder;
}

/* Estilos para hacer que el ícono parezca más un botón */
.icon-button {
  padding: 5px; /* Espaciado interno */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
}

/* MAIN SECTION */

.main-container {
  position: relative;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
}

.main-container h1 {
  font-size: 40px; /* Ajusta al tamaño que desees */
  color: var(--white);
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2), 6px 6px 0px rgba(0, 0, 0, 0.2),
    9px 9px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}

.main-container h2 {
  margin-bottom: 50px;
}

#bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}

#bg-wrap svg {
  width: 100%;
  height: 100%;
}

#content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-wrap: wrap; /* Permite que los elementos se ajusten según el espacio disponible */
}

.icon-circle {
  margin: 0 20px;
  background-color: var(--text-input-field); /* Fondo blanco inicial */
  border-radius: 50%; /* Hace que el elemento sea un círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s; /* Transición suave para el fondo */
  background-image: linear-gradient(to bottom right, var(--tertiary), white);
  width: 70px;
  height: 70px; /* Altura del círculo */
}

.icon-circle:hover {
  background-image: linear-gradient(to bottom right, var(--primary), white);
}

.icon-circle img {
  width: 50%;
  height: auto; /* Mantiene la proporción del SVG ajustando su altura automáticamente */
}

/* SECTION: About me */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #333; /* Elige tu color de fondo */
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.profile img {
  border-radius: 50%; /* Para hacer la imagen circular */
  width: 350px; /* Ajusta según tu preferencia */
  height: auto;
  object-fit: cover; /* Para mantener la relación de aspecto */
  margin-bottom: 20px;
}

.my-description {
  width: 48%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 50px;
  border: white solid 1px;
}

.my-description p {
  text-align: left;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
  font-size: var(--lg);
  margin: var(--sm);
  margin-left: 0px;
  margin-right: 0px;
}

.my-description a {
  color: var(--white);
}

.my-description a:hover{
  color: var(--dark-color-logo);
}

.skills {
  margin-top: 20px;
}

.skill-set {
  display: flex;
  justify-content: center;
}

.skill {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill img {
  width: 50px; /* Ajusta según tu preferencia */
  height: 50px; /* Ajusta según tu preferencia */
}

@media (max-width: 740px) {
  .menu {
    display: block;
  }

  .navbar-right ul,
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }

  body {
    background-color: black;
  }

  nav {
    padding: 0 0px;
  }

  .logo {
    margin-right: 30px;
  }
  .icon-circle {
    margin: 0 10px;
    width: 40px;
    height: 40px;
  }

  .main-container h2 {
    margin-bottom: 25px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
  }

  .profile img {
    width: 180px;
    height: auto;
  }

  .my-description {
    width: 84%;
    align-items: center;
    padding: 20px;
    margin: 0px 25px 0px 25px;
    border: white solid 1px;
  }

  .my-description p {
    line-height: 1.3;
    font-size: var(--md);
    margin: 10px 0px 10px 0px;
  }
}
